<a href="https://colab.research.google.com/github/preetdadga/Machine-Learning/blob/main/NeuralNetworkFromScratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [74]:
data = pd.read_csv('/content/drive/MyDrive/data/mnist_train.csv')

In [75]:
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
data['label'].value_counts(normalize=True)

label
1    0.111524
7    0.104786
3    0.103595
9    0.099714
2    0.099452
6    0.098500
0    0.098381
4    0.096952
8    0.096738
5    0.090357
Name: proportion, dtype: float64

In [77]:
data.shape

(42000, 785)

In [78]:
data = np.array(data)

In [79]:
m, n = data.shape
np.random.shuffle(data)

In [80]:
data_val = data[0:1000].T
y_val = data_val[0]
X_val = data_val[1:n]
X_val = X_val / 255.0

In [81]:
data_train = data[1000:m].T
y_train = data_train[0]
X_train = data_train[1:n]
X_train = X_train / 255.0

In [82]:
y_train

array([1, 1, 3, ..., 4, 8, 2])

In [83]:
def init_params():
  W1 = np.random.rand(10, 784) - 0.5
  b1 = np.random.rand(10,1) - 0.5
  W2 = np.random.rand(10, 10) - 0.5
  b2 = np.random.rand(10,1) - 0.5
  return W1, b1, W2, b2

In [84]:
def ReLU(Z):
  return np.maximum(Z,0)

In [85]:
def softmax(Z):
  A = np.exp(Z) / sum(np.exp(Z))
  return A

In [86]:
def forward_prop(W1, b1, W2, b2, X):
  Z1 = W1.dot(X) + b1
  A1 = ReLU(Z1)
  Z2 = W2.dot(A1) + b2
  A2 = softmax(Z2)
  return Z1, A1, Z2, A2

In [87]:
def one_hot(Y):
  one_hot_Y = np.zeros((Y.size, Y.max() + 1))
  one_hot_Y[np.arange(Y.size), Y] = 1
  one_hot_Y = one_hot_Y.T
  return one_hot_Y

In [88]:
def deriv_ReLU(Z):
  return Z>0

In [89]:
def backward_prop(Z1, A1, Z2, A2, W2, X, Y):
  m = Y.size
  one_hot_Y = one_hot(Y)
  dZ2 = A2 - one_hot_Y
  dW2 = 1/m * dZ2.dot(A1.T)
  db2 = 1/m * np.sum(dZ2)
  dZ1 = W2.T.dot(dZ2) * deriv_ReLU(Z1)
  dW1 = 1/m * dZ1.dot(X.T)
  db1 = 1/m * np.sum(dZ1)
  return dW1, db1, dW2, db2

In [90]:
def update_params(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha):
  W1 = W1 - alpha*dW1
  b1 = b1 - alpha*db1
  W2 = W2 - alpha*dW2
  b2 = b2 - alpha*db2
  return W1, b1, W2, b2

In [91]:
def get_predictions(A2):
  return np.argmax(A2,0)

In [92]:
def get_accuracy(predictions, Y):
  return np.sum(predictions==Y)/Y.size

In [93]:
def gradient_descent(X, Y, iterations, alpha):
  W1, b1, W2, b2 = init_params()
  for i in range(iterations):
    Z1, A1, Z2, A2 = forward_prop(W1, b1, W2, b2, X)
    dW1, db1, dW2, db2 = backward_prop(Z1, A1, Z2, A2, W2, X, Y)
    W1, b1, W2, b2 = update_params(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha)
    if i%10==0:
      print("Iterations: ",i)
      print("Accuracy: ",get_accuracy(get_predictions(A2), Y))
  return W1, b1, W2, b2

In [95]:
W1, b1, W2, b2 = gradient_descent(X_train, y_train, 500, 0.1)

Iterations:  0
Accuracy:  0.105
Iterations:  10
Accuracy:  0.14256097560975609
Iterations:  20
Accuracy:  0.2101219512195122
Iterations:  30
Accuracy:  0.25695121951219513
Iterations:  40
Accuracy:  0.2897560975609756
Iterations:  50
Accuracy:  0.317
Iterations:  60
Accuracy:  0.3439024390243902
Iterations:  70
Accuracy:  0.37121951219512195
Iterations:  80
Accuracy:  0.39746341463414636
Iterations:  90
Accuracy:  0.42529268292682926
Iterations:  100
Accuracy:  0.45551219512195124
Iterations:  110
Accuracy:  0.4889268292682927
Iterations:  120
Accuracy:  0.5218780487804878
Iterations:  130
Accuracy:  0.5748048780487804
Iterations:  140
Accuracy:  0.631780487804878
Iterations:  150
Accuracy:  0.6659512195121952
Iterations:  160
Accuracy:  0.6878292682926829
Iterations:  170
Accuracy:  0.705
Iterations:  180
Accuracy:  0.7185609756097561
Iterations:  190
Accuracy:  0.7307073170731707
Iterations:  200
Accuracy:  0.7412195121951219
Iterations:  210
Accuracy:  0.7511707317073171
Iterations:  220
Accuracy:  0.7592682926829268
Iterations:  230
Accuracy:  0.7664146341463415
Iterations:  240
Accuracy:  0.7726341463414634
Iterations:  250
Accuracy:  0.7782926829268293
Iterations:  260
Accuracy:  0.7840243902439025
Iterations:  270
Accuracy:  0.7892926829268293
Iterations:  280
Accuracy:  0.7936829268292683
Iterations:  290
Accuracy:  0.7985853658536586
Iterations:  300
Accuracy:  0.8028780487804879
Iterations:  310
Accuracy:  0.8063414634146342
Iterations:  320
Accuracy:  0.8096829268292683
Iterations:  330
Accuracy:  0.8123902439024391
Iterations:  340
Accuracy:  0.8156097560975609
Iterations:  350
Accuracy:  0.8182439024390243
Iterations:  360
Accuracy:  0.8204878048780487
Iterations:  370
Accuracy:  0.8230243902439024
Iterations:  380
Accuracy:  0.825560975609756
Iterations:  390
Accuracy:  0.8277317073170731
Iterations:  400
Accuracy:  0.8299024390243902
Iterations:  410
Accuracy:  0.8322682926829268
Iterations:  420
Accuracy:  0.8342682926829268
Iterations:  430
Accuracy:  0.835780487804878
Iterations:  440
Accuracy:  0.8377073170731707
Iterations:  450
Accuracy:  0.8395609756097561
Iterations:  460
Accuracy:  0.8413414634146341
Iterations:  470
Accuracy:  0.8430243902439024
Iterations:  480
Accuracy:  0.8446585365853658
Iterations:  490
Accuracy:  0.8459512195121951